{% extends "base_generic.html" %}

{% block content %}


<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        {% load i18n %}
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ review.picture.url }}" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>{{ review.title }}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>{{ review.tour.title }}</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i>{{ comment_parent_list.count }}</a></li>
                        </ul>
                        <p class="excert">{{ review.content }}
                        </p>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{{ review.user.profile.avatar.url }}" alt="">
                        <div class="media-body">
                            {% if request.user == review.user %}
                                <a href="{% url 'profile' %}">
                            {% else %}
                                <a href="{% url 'profile-details' review.user.id %}">
                            {% endif %}
                                <h4>{{ review.user.username }}</h4>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="container count-comment">
                    <h4><span>{{ comment_list.count }}</span> {% trans 'Comments' %}</h4>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="comment-input form-control w-100" name="comment" id="comment" cols="30"
                                    rows="4" placeholder="Write Comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="comment-submit button button-contactForm btn_1 boxed-btn">{% trans 'Comment' %}
                        </button>
                    </div>
                </div>
                <div class="comments-area">
                    {% load static %}
                    {% for comment in comment_list %}
                    {% if comment.parent_comment == null %}
                    <div class="container comment-{{comment.id}} hidden-comment">
                        <div class="comment-content row">
                            <div class="col-10">
                                {% include "travel/includes/comments.html"%}
                            </div>
                        </div>
                        <div class="sub-comment-area row" id="sub-comment-{{comment.id}}">
                            <div class="container">
                                {% for comment in comment.comment_set.all reversed %}
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-9 d-flex align-items-center">
                                        {% include "travel/includes/comments.html"%}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="reply-comment-{{comment.id}} row">
                            <div class="col-1"></div>
                            <div class="col-9">
                                <hr>
                                <div class="form-group">
                                    <input class="form-control reply-comment-input rep-comment-{{comment.id}}" type="text"
                                        id="{{comment.id}}" placeholder="add a comment">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                {% if  comment_list.count > 2 %}
                <div class="container" id="loadMore">
                    <div class="row">
                        <div class="col-10">
                            <a href="#" >{% trans 'Load More' %}</a>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar ">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">{% trans 'Search' %}
                            </button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">{% trans 'Category' %}</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>{% trans 'Resaurant food' %}</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>{% trans 'Travel news' %}</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>{% trans 'Travel abroad' %}</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>{% trans 'domestic tourism' %}</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">{% trans 'Tag Clouds' %}</h4>
                        <ul class="list">
                            <li>
                                <a href="#">{% trans 'Ha Long' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Ha Noi' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Nha Trang' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Ho Chi Minh' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Phu Quoc' %}</a>
                            </li>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb_70">
                    <h3>{% trans 'More places' %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for sg_tour in suggest_tour %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        {% with sg_tour.image_set.all|first as image %}
                            <img src="../../../media/{{ image.url }}">
                        {% endwith %}
                    </div>
                    <div class="place_info">
                        <a href="{{ sg_tour.get_absolute_url }}">
                            <h3>{{ sg_tour.title }}</h3>
                        </a>
                        <p>{{ sg_tour.start_location }} - {{ sg_tour.destination }}</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="fa fa-star"> {{ sg_tour.rating }}</i>
                                <a href="#">{{ sg_tour.review_set.count }} {% trans 'reviews' %}</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#"> {{ sg_tour.date }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--=============== End Blog Area =================-->

<script>
    const reviewName = 'Review' + '{{review.id}}'
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/comment/'
        + reviewName
        + '/'
    );
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const comment = JSON.parse(data.comment);
        const htmlRender = data.htmlRender
        renderCommnent(comment, htmlRender)
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    const comment_input = $('.comment-input')
    const comment_submit = $('.comment-submit')

    comment_input.on('keyup', (e) => {
        if (e.which == 13) {
            comment_submit.click();
        }
    });

    $(".comments-area").on("keyup", ".reply-comment-input", (e)=>{
        if (e.which == 13) {
            const message = $(e.target).val();
            const userId = '{{user.id}}'
            const parentId = e.target.id
            if (userId) {
                sendComment(message, parentId)
            }
            else {
                alert("You must login")
            }
            $(e.target).val("");
        }
    });

    comment_submit.on('click', () => {
        const message = comment_input.val();
        const userId = '{{user.id}}'
        if (userId) {
            sendComment(message, -1)
        }
        else {
            alert("You must login")
        }
        comment_input.val("");
    });

    function sendComment(message, parentId) {
        chatSocket.send(JSON.stringify({
            'message': message,
            'userId': '{{user.id}}',
            'parentCommentId': parentId,
            'reviewId': '{{review.id}}'
        }));
    }

    // Render Comment
    function renderCommnent(comment, htmlRender) {
        var count = parseInt($('.count-comment h4 span').text()) + 1
        $('.count-comment h4 span').text(count)
        if (comment.parentCommentId == -1) {
            commentArea = $('.comments-area')
            commentArea.prepend(`
            <div class="container comment-${comment.id}">
                <div class="comment-content row">
                    <div class="col-10">
                        ${htmlRender}
                    </div>
                </div>
                <div class="sub-comment-area row" id="sub-comment-${comment.id}">
                    <div class="container">
                    </div>
                </div>
                <div class="reply-comment-${comment.id} row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        <div class="form-group">
                            <input class="form-control reply-comment-input rep-comment-${comment.id}" type="text"
                                id="${comment.id}" placeholder="add a comment">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            `)
        }
        else {
            var subCommentArea = $('.sub-comment-area').filter('#sub-comment-' + comment.parentCommentId)
            subCommentArea = $(subCommentArea).children('.container')
            subCommentArea.append(`
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-9 d-flex align-items-center">
                        ${htmlRender}
                    </div>
                </div>
            `)
        }
    }

</script>

{% endblock %}


