{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="limiter col-lg-8">
        <div class="title-log">
            <h1>Activity log</h1>
        </div>
        <div class="tab">
            <button class="tab-links" onclick="openLog(event, 'owner')" id="defaultOpen">{{ user.username }}</button>
<button class="tab-links" onclick="openLog(event, 'following-user')">Following</button>
</div>
<div id="owner" class="tab-content1">
    <div class="container">
        <table class="table" style="text-align: center; margin-top: 30px;">
            <thead class="thead-dark">
                <tr>
                    <th class="cell">
                        Date
                    </th>
                    <th class="cell">
                        Activity
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for activity in self_activities %}
                <tr class="hidden-comment1">
                    <td>
                        <a href="{{ activity.url }}" >
                            {{ activity.date }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ activity.url }}" >
                            You {{ activity.acti }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if  self_activities.count > 2 %}
    <div class="container" id="loadMore1">
        <div class="row">
            <div class="col-12">
                <a href="#">Load More</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div id="following-user" class="tab-content1">
    <div class="container">
        <table class="table" style="text-align: center; margin-top: 30px; margin-bottom: 50px;">
            <thead class="thead-dark">
                <tr>
                    <th class="cell">
                        Date
                    </th>
                    <th class="cell">
                        Activity
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for activity in following_activities %}
                <tr class="hidden-comment2">
                    <td>
                        <a href="{{ activity.url }}" >
                            {{ activity.date }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ activity.url }}" >
                           {{activity.user.username}} {{ activity.acti }}
                        </a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    {% if  fl_ac_count > 2 %}
    <div class="container" id="loadMore2">
        <div class="row">
            <div class="col-12">
                <a href="#">Load More</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}}