<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                {% load i18n %}
                    <div class="panel-heading">
                        <div class="panel-title">{% trans 'Sign In' %}</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">{% trans 'Forgot password?' %}</a></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
                            <p>{% trans 'Username or password wrong!' %}</p>
                        </div>

                        {% if form.errors %}
                            <p>{% trans 'Your username and password didn\'t match. Please try again.' %}</p>
                        {% endif %}


                        <form method="post" action="{% url 'login' %}" id="loginform" class="form-horizontal" role="form">
                            {% csrf_token %}

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>



                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> {% trans 'Remember me' %}
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input type="submit" value="{% trans 'Sign In' %}" id="btn-login" class="btn btn-success"/>
                                      <a id="btn-fblogin" href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}" class="btn btn-primary">{% trans 'Login with Facebook' %}</a>
                                      <a id="btn-fblogin" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'index' %}" class="btn btn-primary">{% trans 'Login with Google' %}</a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            {% trans "Don't have an account!" %}
                                        <a href="{% url 'register' %}" >
                                            {% trans 'Sign Up Here' %}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </form>



                        </div>
                    </div>
        </div>

    </div>
