<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Booking Tour System</title>{% endblock %}
  <!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>It.Next - IT Service Responsive Html Theme</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icons -->
<link rel="icon" href="../static/images/fevicon/fevicon.png" type="image/gif" />
<!-- bootstrap css -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<!-- Site css -->
<link rel="stylesheet" href="../static/css/style.css" />
<!-- responsive css -->
<link rel="stylesheet" href="../static/css/responsive.css" />
<!-- colors css -->
<link rel="stylesheet" href="../static/css/colors1.css" />
<!-- custom css -->
<link rel="stylesheet" href="../static/css/custom.css" />
<!-- wow Animation css -->
<link rel="stylesheet" href="../static/css/animate.css" />
<!-- revolution slider css -->
<link rel="stylesheet" type="text/css" href="../static/revolution/css/settings.css" />
<link rel="stylesheet" type="text/css" href="../static/revolution/css/layers.css" />
<link rel="stylesheet" type="text/css" href="../static/revolution/css/navigation.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
    <!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight"><strong>Welcome to Booking Tour System</strong> </span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="">BTS@gmail.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <div class=""> <a class="btn white_btn bg-white border_btn" href="">My profile</a> </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="../templates/front_page.html"><img src="../static/images/logos/it_logo.png" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" href="../templates/front_page.html">Home</a>
                  <ul>

                  </ul>
                </li>
                <li><a href="">About Us</a></li>
                <li> <a href="">Booking</a>
                  <ul>
                    <li><a href="">Hotel</a></li>
                    <li><a href="">Notable places</a></li>
                    <li><a href="">Flights</a></li>
                  </ul>
                </li>
                                <li> <a href="">Contact</a>
                  <ul>
                    <li><a href="">Contact Now</a></li>
                    <li><a href="">FAQ</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->
    <div class="">{% block content %}{% endblock %}</div>

<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="map_section">
        <div id="map"></div>
      </div>
      <div class="footer_blog">
        <div class="row">
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Booking tour system</h2>
            </div>
            <p>We are here bring the best thing in the world for you</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Additional links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href=""><i class="fa fa-angle-right"></i> About us</a></li>
              <li><a href=""><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
              <li><a href=""><i class="fa fa-angle-right"></i> Privacy policy</a></li>
              <li><a href=""><i class="fa fa-angle-right"></i> News</a></li>
              <li><a href=""><i class="fa fa-angle-right"></i> Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Contact us</h2>
            </div>
            <p>Handico Tower<br>
              Ha Noi, Viet Nam<br>
              <span style="font-size:18px;"><a href="tel:+9876543210">+096 475 4755</a></span></p>
            <div class="footer_mail-section">
              <form>
                <fieldset>
                <div class="field">
                  <input placeholder="Email" type="text">
                  <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
</body>
</html>
