
.hidden-comment{
    display: none;
}

.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.ava{
    display: inline;
}

.totop a {
    display: none;
}
a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}

#loadMore{
    text-align: center;
}
#loadMore a{
    display: inline-block;
}

.thumb image{
    width: 50px !important;
}


